/* Pantalla completa sin scroll */
.arcade-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black; /* por si la imagen no carga */
}

/* Botón triangular estilo retro */
.play-button {
    border-radius: 50%;
    font-size: 2rem;
    --lumo-primary-color: #ff5f5f;
    --lumo-primary-text-color: #ffffff;
    box-shadow: 0 0 0 4px #7f574f;
    transition: transform 0.2s;
}
.play-button:hover {
    transform: scale(1.1);
}
