:root {
    --lumo-font-family: 'Pico-8', monospace;
}
.pico8-screen {
    background-color: #000;
    color: #7f7f7f;
    font-family: var(--lumo-font-family);
    padding: 1em;
}
vaadin-button {
    background-color: #7f7f7f;
    color: #000;
    font-family: var(--lumo-font-family);
    border: 2px solid #5f574f;
    margin: 0.5em;
}
vaadin-button:hover {
    background-color: #c2c3c7;
}
vaadin-text-area,
vaadin-number-field {
    --lumo-font-family: var(--lumo-font-family);
    border: 2px solid #5f574f;
}